@import 'utils/variables';
@import 'components/type';

$tiles: 1;

:root {
    --color-text: #0a0a0a;
    --color-bg: #EBFFFF;
  }
  
  [data-theme=light] {
    --color-text: #0a0a0a;
    --color-bg: #EBFFFF;
  }
  
  [data-theme=dark] {
    --color-text: #EBFFFF;
    --color-text-secondary: #cd23e7;
    --color-bg: #0a0a0a;
    --color-bg-secondary:#000000;
  }

@font-face {
    font-family: "migra";
    src: url(../assets/fonts/Migra-Extrabold.woff);
}
@font-face {
    font-family: "migra italic";
    src: url(../assets/fonts/MigraItalic-ExtraboldItalic.woff);
}
@font-face {
    font-family: "gosha";
    src: url(../assets/fonts/ppgoshasans-regular-webfont.woff);
}
section{
    padding: 0px 16px 0px 16px;
}
// .wrapper {
//     width: 100vh;
//   }
  
//   .loader {
//     position: fixed;
//     z-index: 999;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 0;
//     transition: height 0.9s ease-in;
    
//     .loader__tile {
//       position: absolute;
//       left: 0;
//       width: 100%;
//       height: 0;
//       background-color: var(--color-text);
//       transition: height 0.9s ease-in;
//     }
//     &--active {
//       height: 100%;
//       .loader__tile {
//         height: 100%;
//       }
//     }
//   }

html{
    scroll-behavior: smooth;
}

body{
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--color-bg);
}
.title--main{
    font-family: "migra";
    font-size: 81px;
    line-height: 1.125;
}
.title--medium{
    font-family: roc-grotesk, sans-serif;
    font-size:36px;
    font-weight: 700;
    line-height: 1.125;
}
span{
    font-family: "migra italic";
}
ul{
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}
// .hidetext{
//     position: absolute;
//     z-index: 200;
//     top: 250px;
// }

// HEADER //
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav__download{
    background-color: var(--color-text);
    color: white;
    width: 130px;
    height: 35px;
    border-radius: 100px;
    a{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6px;
        width:6em;
        color: white;
        text-decoration: none;
        font-weight: 100;
    }
}
.nav__logo{
    img{
        width: 50%;
        animation: animEyes linear infinite 4s;
    }
}
.grab{
    display: none;
}
@keyframes animEyes{
    0%{
        transform: scaleY(1);
    }
    2%{
        transform: scaleY(0);
    }
    4%{
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(1);
    }
}




// INTRO //
.section--intro{
    margin-top: 15em;
}
.section--intro__text{
    max-width: 40ch;
    .persona{
        position: absolute;
        top: 20%;
        right: 10%;
        width: 40%;
        transform: translatey(0px);
        animation: float 5s ease-in-out infinite;
    }
    @keyframes float {
        0% {
            transform: translatey(0px);
        }
        50% {
            transform: translatey(-25px);
        }
        100% {
            transform: translatey(0px);
        }
      }
}
.section--intro__img{
    background-image: url("../assets/images/svg/blob.svg");
    background-size:contain;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    justify-content: right;
    .mockup{
        width: 60%;
    }
}
.section__header{
    margin: 20px;
}
.dl-icons{
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
}
.dl-icons__img{
    margin-right: 20px;
    img{
        height: 35px;
        width: 118px;
    }
}


//ASK//

.section--ask{
    margin-top: 6em;
    img{
        margin: 50px;
        width: 70%;
    }
}

//DISCOVER//

.section--discover{
    margin-top: 6em;
    img{
        margin: 50px;
        width: 70%;
    }
}
//INFO//

.section--info{
    margin-top: 6em;
    background-image: url(../assets/images/svg/wave.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}
.mockup_footer{
    width: 100%;
}
.info__text{
    padding: 16px;
}
.info__img{
    margin-top: 50px;
}

//FOOTER//

.section--footer{
    display: flex;
    flex-direction: column;
    background-color: #FFD803;
}
.footer__list{
    text-transform: uppercase;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 14px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.date{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.dwt{
    display: flex;
    justify-content: center;
}
.logo__dwt{
    padding: 2em;
    width: 4em;
}


blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

@media (min-width:1000px) {
    body{
        margin: 0;
        font-size: 22px;
    }
    section{
        display: flex;
        padding-right: 9em;
        padding-left: 9em;

    }
    .section--intro{
        position: relative;
        margin-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "a1 a2";
    }
    .arrow{
        transform:persp;
        z-index: 2;
        position: absolute;
        width: 10%;
        bottom: 0;
        left: 40%;
        transform: scaleX(-1);
    }
    .section--intro__text{
        margin: 0;
        display: flex;
        flex-direction: column;
        grid-area: a1;
    }
    .section--intro__img{
        margin: 0;
        grid-area: a2;
        .mockup{
            width: 50%;
        }
    }
    .persona{
        display: none;
    }
    .grab{
        display: block;
        z-index: 10;
        position: fixed;
        width: 5em;
        height: 5em;
        cursor: grab;
        background-image: url(../assets/images/svg/sun.svg);
        background-size: contain;
        background-repeat: no-repeat;
        animation: rotating 10s linear infinite ;
    }
    @keyframes rotating {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
    .title--big{
        font-size:4em;
        color:#000;
        line-height: 1;
        pointer-events:none;
        margin: 0;
    }

    
    p{
        max-width: 40ch;
    }
    
    .section__header {
        z-index: 1;
        top: 0;
      }
      .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .nav__download{
        height: 40px;
        width: 160px;
        background-color: #000;
        color: #fff;
        border-radius: 1000px;
        text-align: center;
        font-size: 20px;
      }
      .section--ask{
        justify-content: center;
        flex-direction: row-reverse;
        .ask__text{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .ask__img{
            width: 30%;
        }
    }
    .section--discover{
        justify-content:center;
        .discover__text{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .discover__img{
            width: 30%;
        }
    }
    .section--info{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .mockup_footer{
        width: 100%;
    }
    .section--footer{
        padding-right: 140px;
        padding-left: 140px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    .footer__el{
        padding-right: 2em;
    }
}
@media (min-width:1900px){
    section{
        padding-right: 9em;
        padding-left: 9em;
    }
    .title--main{
        font-size:6em;
        color:#000;
        line-height: 1;
        pointer-events:none;
        margin: 0;
    }
}
