@import 'utils/variables';
@import 'components/type';

$tiles: 1;

:root {
    --color-text: #0a0a0a;
    --color-bg: #EBFFFF;
  }
  
  [data-theme=light] {
    --color-text: #0a0a0a;
    --color-bg: #EBFFFF;
  }
  
  [data-theme=dark] {
    --color-text: #EBFFFF;
    --color-text-secondary: #cd23e7;
    --color-bg: #0a0a0a;
    --color-bg-secondary:#000000;
  }

@font-face {
    font-family: "migra";
    src: url(../assets/fonts/Migra-Extrabold.woff);
}
@font-face {
    font-family: "migra italic";
    src: url(../assets/fonts/MigraItalic-ExtraboldItalic.woff);
}

.wrapper {
    width: 100vh;
  }
  
  .loader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    transition: height 0.9s ease-in;
    
    .loader__tile {
      position: absolute;
      left: 0;
      width: 100%;
      height: 0;
      background-color: var(--color-text);
      transition: height 0.9s ease-in;
    }
    &--active {
      height: 100%;
      .loader__tile {
        height: 100%;
      }
    }
  }

html{
    scroll-behavior: smooth;
    
}

body{
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: roc-grotesk, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    background-color: var(--color-bg);
}
section{
    max-width: 1800px;
    padding: 0px 16px 0px 16px;
}
.title{
    line-height: 1.125;
}
.title--main{
    font-family: "migra";
    font-size: 68px;
    
}
.title--big{
    font-family: roc-grotesk, sans-serif;
    font-size:36px;
    font-weight: 700;
}
.title--medium{
    font-weight: 100;
    font-size:24px;
}
.title--little{
    font-size: 16px;
    font-weight: 500;
}
.span{
    font-family: "migra italic";
}
ul{
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}
.bold{
    font-weight: 600;
}
// .hidetext{
//     position: absolute;
//     z-index: 200;
//     top: 250px;
// }



// HEADER //
.section--header{
    padding: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "logo . dl";
  }
.nav__download{
    grid-area: dl;
    background-color: var(--color-text);
    color: white;
    width: 130px;
    height: 35px;
    border-radius: 100px;
    border: solid 1px #000;
    a{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6px;
        width:6em;
        color: white;
        text-decoration: none;
        font-weight: 400;
    }
}
.nav__download:hover{
    background-color: transparent;
    a{
        color: black;
    }
}
.nav__logo{
    grid-area: logo;
    img{
        width: 50%;
        animation: animEyes linear infinite 4s;
    }
}
.grab{
    display: none;
}
@keyframes animEyes{
    0%{
        transform: scaleY(1);
    }                                   
    2%{
        transform: scaleY(0);
    }
    4%{
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(1);
    }
}




// INTRO //
.section--intro{
    margin-bottom: 15em;
}
.section--intro__text{
    max-width: 40ch;
    .persona{
        position: absolute;
        top: 20%;
        right: 10%;
        width: 40%;
        transform: translatey(0px);
        animation: float 5s ease-in-out infinite;
    }
    @keyframes float {
        0% {
            transform: translatey(0px);
        }
        50% {
            transform: translatey(-25px);
        }
        100% {
            transform: translatey(0px);
        }
      }
}
.section--intro__img{
    // background-image: url("../assets/images/svg/blob.svg");
    // background-size:contain;
    // background-position: top;
    // background-repeat: no-repeat;
    .mockup{
        width: 60%;
        margin-left: 5em;
    }
}
.section__header{
    margin: 20px;
}
.dl-icons{
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
}
.dl-icons__img{
    margin-right: 20px;
    img{
        height: 35px;
        width: 118px;
    }
}


//FONCTIONNALITES//

.section--fonctionnalities{
    position: relative;
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    svg{
        fill: #000;
    }
}
.fonc__img{
    margin-bottom: 5em;
    background-image: url(../assets/images/svg/blob.svg);
    background-size: contain;
    background-repeat: no-repeat;
    img{
        margin-left: 4em;
        transform: rotate(-10deg);
        width: 250px;
        overflow-x: hidden;
    }
}

.fonc{
    display: flex;
    flex-direction: row;
    align-items: center;
    svg{
        padding: 2em;
    }
}

//INFO//

.section--info{
    margin-top: 6em;
    background-image: url(../assets/images/svg/wave.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}
.mockup_footer{
    width: 100%;
}
.info__text{
    padding: 16px;
}
.info__img{
    margin-top: 50px;
}

//FOOTER//

.section--footer{
    display: flex;
    flex-direction: column;
    background-color: #FFD803;
}
.footer__list{
    text-transform: uppercase;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
}

.date{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.dwt{
    display: flex;
    justify-content: center;
}
.logo__dwt{
    padding: 2em;
    width: 4em;
}





//CASE-STUDY//
.title--medium{
    text-transform: uppercase;
}
section{
    padding-top: 5em;
}
.section--intro-cs{
    h1{
        margin-top: 0;
        margin-bottom: 0;
    }
    h3{
        margin-bottom: 0;
    }
}
.section--intro-projet{
    padding-top: 10em;
    padding-bottom: 10em;
    font-size: 24px;
    font-weight: 700;
}

.section--concept{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
    "h3 h3"
    ". p1"
    ". bold";
    h3{
        grid-area:h3;
    }
    p{
        grid-area: p1;
    }
    .bold{
        grid-area: bold;
    }
}
.users__txt{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
    "h3 h3"
    ". p1"
    ". p2";
    h3{
        grid-area: h3;
    }
    p{
        grid-area: p1;
    }
    .concl{
        grid-area: p2;
    }

}
.users__feedbacks{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    "txt-square1 txt-square1 ."
    ". txt-square2 txt-square2"
    "txt-square3 txt-square3 .";
}
.txt-square1{
    grid-area: txt-square1;
}
.txt-square2{
    grid-area: txt-square2;
}
.txt-square3{
    grid-area: txt-square3;
}
.txt-square{
    font-weight: 500;
    margin-top: 3em;
    padding: 1em;
    background-color:#FFD803;
    border-radius: 20px;
}
.section--problems{
    margin-top: 5em;
    margin-bottom: 5em;
}
.problems__txt{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
    "h3 h3"
    ". p";
    h3{
        grid-area: h3;
    }
    p{
        grid-area: p;
    }
}

.fonctions__el{
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    svg{
        padding: 2em;
        height: 50px;
        width: 50px;
    }

}

.mvp{
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
    ". p"
    "img img";
    img{
        grid-area: img;
        width: 100%;
    }
    p{
        grid-area: p;
    }
}
.upgrades{
    background-color: #BAE8E8;
    border-radius: 20px;
    padding: 1em;
    margin-top: 266px;
}
.wrong, .correct{
    display: flex;
    flex-direction: row;
    img{
        margin: 1em;
        width: 55px;
        height: 55px;
    }
}

figure{
    margin-top: 15em;
    margin-bottom: 15em;
}
blockquote {
    margin: 0;
    font-size: 32px;
    font-family: 'migra';
}

blockquote p {
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}
.section--art-dir{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
    "h3 h3"
    ". p1"
    // "color color"
    ". p2"
    "logo logo";
    h3{
        grid-area: h3;
    }
    .p1{
        grid-area: p1;
    }
    .p2{
        grid-area: p2;
    }
    img{
        grid-area: logo;
    }
}
// .color-palette{
//     grid-area: color;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
// }
// .colors{
//     width: 4em;
//     border: solid 1px #000;
//     p{
//         mix-blend-mode: difference;
//     }
//     &--1{
//         background-color: #F3FBFB;
//     }
//     &--2{
//         background-color: #BAE8E8;
//     }
//     &--3{
//         background-color: #FFD803;
//     }
//     &--4{
//         background-color: #272343;
//     }
// }

.section--conclusion{
    padding-top: 5em;
    padding-bottom: 5em;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
    ". p";
    p{
        grid-area: p;
    }
}

@media (min-width:700px){
    body{
        font-size: 19px;
    }
    section{
        padding:62px;
    }
    .section--intro-cs{
        padding-top: 40em;
        p{
            max-width: 50ch;
        }
    }
    .users__feedbacks{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "txt-square1 ."
        ". txt-square2"
        "txt-square3 .";
    }
    .txt-square1{
        grid-area: txt-square1;
    }
    .txt-square2{
        grid-area: txt-square2;
    }
    .txt-square3{
        grid-area: txt-square3;
    }
    .txt-square{
        font-weight: 500;
        margin-top: 3em;
        padding: 1em;
        background-color:#FFD803;
        border-radius: 20px;
        filter: drop-shadow(2px 2px 2px #acacac);
    }
    .section--problems{
        margin-top: 5em;
        margin-bottom: 5em;
    }
    .problems__txt{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "h3 h3"
        ". p";
        h3{
            grid-area: h3;
        }
        p{
            grid-area: p;
        }
    }
    .problems__fonctions{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "fonc1 fonc2 fonc3";
    }
    
    .fonctions__el{
        max-width: 50ch;
        svg{
            padding: 2em;
            height: 50px;
            width: 50px;
        }
        &--1{
            grid-area:fonc1;
        }
        &--2{
            grid-area:fonc2;
        }
        &--3{
            grid-area:fonc3;
        }
    
    }
    
}

@media (min-width:1000px) {
    body{
        margin: 0;
        font-size: 22px;
    }
    section{
        padding-right: 9em;
        padding-left: 9em;

    }
    .section--intro{
        position: relative;
        margin-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "a1 a2";
    }
    .arrow{
        transform:persp;
        z-index: 2;
        position: absolute;
        width: 10%;
        bottom: 0;
        left: 40%;
        transform: scaleX(-1);
    }
    .section--intro__text{
        margin: 0;
        display: flex;
        flex-direction: column;
        grid-area: a1;
    }
    .section--intro__img{
        margin: 0;
        grid-area: a2;
        .mockup{
            width: 50%;
        }
    }
    .persona{
        display: none;
    }
    .grab{
        display: block;
        z-index: 10;
        position: fixed;
        width: 5em;
        height: 5em;
        cursor: grab;
        background-image: url(../assets/images/svg/sun.svg);
        background-size: contain;
        background-repeat: no-repeat;
        animation: rotating 10s linear infinite ;
    }
    @keyframes rotating {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
    .title--main{
        font-size:4em;
        color:#000;
        line-height: 1;
        pointer-events:none;
        margin: 0;
    }

    
    p{
        max-width: 40ch;
    }
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav__download{
        height: 40px;
        width: 160px;
        background-color: #000;
        color: #fff;
        border-radius: 1000px;
        text-align: center;
        font-size: 20px;
    }
    .section--ask{
        justify-content: center;
        flex-direction: row-reverse;
        .ask__text{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .ask__img{
            width: 30%;
        }
    }
    .section--fonctionnalities{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "img txt";
    }
    .fonc__img{
        grid-area: img;
    }
    .fonc__txt{
        grid-area: txt;
    }
    .section--info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: none;
    }
    .mockup_footer{
        width: 100%;
    }
    .section--footer{
        padding-right: 140px;
        padding-left: 140px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    .footer__el{
        padding-right: 2em;
    }

    //CASE-STUDY//
    .grab{
        display: block;
    }
    .section--intro-cs{
        background-image: url(../assets/images/mockup_cs.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 15em;
        padding-bottom: 3em;
        background-position-y: 20%;
        display: flex;
        flex-direction: column;
    }
    .section--concept{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .section--users{
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: none;
    }
    .users__txt{
        grid-template-columns: 1fr 1fr;
    }
    .users__feedbacks{
        grid-template-columns: 2fr 0.5fr 2fr;
        grid-template-areas:
        "txt-square1 . ."
        ". . txt-square2"
        "txt-square3 . .";
    }
    .section--prototype{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "h3 h3"
        ". mvp"
        "img img"
        "fig fig";
        h3{
            grid-area: h3;
        }
        .mvp{
            grid-area: mvp;
            display: flex;
        }
        .img{
            width: 80%;
            grid-area: img;
        }
        figure{
            grid-area: fig;
        }
    }
    blockquote{
        font-size: 3em;
        text-align: center;
    }
    .section--art-dir{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:1900px){
    section{
        padding-right: 15em;
        padding-left: 15em;
    }
    .title--main{
        font-size:6em;
        color:#000;
        line-height: 1;
        pointer-events:none;
        margin: 0;
    }
}
